body
  header.header 
    
    
    
    p here's the data extracted:
	
    p Merchant: #{merchant}
    p invoice number: #{invoice}
    p Date: #{date}
    p Currency: #{currency}
    p Total before Taxes: #{beforeTax}
    p Total with tax #{total}
    a(href='/') Parse another invoice!